.card {
  border: 1px solid red;
  width: 30%;
}

.card-container {
  border: 1px solid maroon;
  width: 30%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #ddfdfe;
}

.get-images-img {
  width: 100%;
  aspect-ratio: 4 / 3;
  border-radius: 0.5rem;
}

.get-images-img-layout {
  display: flex;
  gap: 1rem;
}

.card-title {
  margin-block: 0.5rem;
}
